<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite" thread-count="15">


    <test name="MainTestGroups">
        <groups>
            <define name="groups">
                <include name="Regression1"/>
                <include name="Regression2"/>
            </define>

            <run>
                <include name="groups"/>
            </run>
        </groups>


        <classes>
            <class name="MainTest"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->